{#

	  Fichier : /Catalogue/catalogue.html.twig
	  Auteur: SMITH Emmanuel
	  Création: 01/03/2016
	  Modification: 01/04/16

	  Vue catalogue: Liste l'ensemble des produits

#}

{% set namePage = "Catalogue" %}
{% set typePage = namePage %}
{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block linkFollowing %}
	<li class="active">Catalogue</li>
{% endblock %}

{% block content %}
	<div id="contentArticles">
		{% for item in produits %}
			{% include "s4smitheVitrineBundle:Catalogue:oneArticle.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
