{#
	Fichier : Default/index.html.twing
	Auteur : Emmanuel SMITH
	Creation : 09/02/2016
	Modification :
		> 09/02/2016		Mise en place de l'index
		> 12/02/2016		Ajout template + catalogue statique

	Page d'accueil de l'app web e-commerce
#}

{% set namePage = "Catalogue" %}
{% set typePage = namePage %}
{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block linkFollowing %}
	<li class="active">Catalogue</li>
{% endblock %}

{% block content %}
	<div id="contentArticles">
		{% for item in produits %}
			{% include "s4smitheVitrineBundle:Catalogue:oneArticle.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}	