/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 févr. 2016, 12:27:41
    Author     : emsm
*/

footer.page-footer {
	background-color: #494e59;
	padding: 15px 0;
}