{% set namePage = "Inscription" %}
{% set typePage = namePage %}
{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block linkFollowing %}
	<li class="active">{{ namePage }}</li>
{% endblock %}

{% block content %}

	<div class="col-xs-12" >
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-default" type="reset" >Annuler</button >
		<button class="btn btn-primary" type="submit" >Enregistrer</button >
		{{ form_end(form) }}
	</div>
	
{% endblock %}
