{#
	Fichier : Default/index.html.twing
	Auteur : Emmanuel SMITH
	Creation : 09/02/2016
	Modification :
		> 09/02/2016		Mise en place de l'index
		> 12/02/2016		Ajout template + catalogue statique

	Page d'accueil de l'app web e-commerce
#}

{% set namePage = name %}
{% set typePage = namePage %}
{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block linkFollowing %}
	<li class="active">Categorie</li>
{% endblock %}

{% block content %}
	<div class="col-xs-12">
		<img class="img-responsive" style="margin: auto;" src="{{ asset('bundles/s4smithevitrine/images/sfshop.jpg') }}" alt="{{ sfNameShop }}" />
	</div>
	Bonjour à toi {{ name }} !
	<ul >
		<li >TODO Articles plus vendus</li >
		<li >TODO Marque populaires</li >
		<li >TODO Stock des articles</li >
		<li >TODO Prix Moment CMD dans Ligne commande</li >
		<li >TODO Détails commandes clients</li >
		<li >TODO Design back-office</li >
		<li >TODO Contraintes validité</li >
	</ul >
{% endblock %}
