{#
	Fichier : Default/index.html.twing
	Auteur : Emmanuel SMITH
	Creation : 09/02/2016
	Modification :
		> 09/02/2016		Mise en place de l'index
		> 12/02/2016		Ajout template + catalogue statique

	Page d'accueil de l'app web e-commerce
#}

{% set namePage = name %}
{% set typePage = namePage %}
{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block linkFollowing %}
	<li class="active" >Accueil</li >
{% endblock %}

{% block content %}
	<div class="col-xs-12" >
		<img class="img-responsive" style="margin: auto;" src="{{ asset('bundles/s4smithevitrine/images/sfshop.jpg') }}" alt="{{ sfNameShop }}" />
	</div >

	{#<div id="contentArticles">
		{% for item in listProductPop %}
			{% include "s4smitheVitrineBundle:Catalogue:oneArticle.html.twig" %}
		{% endfor %}
	</div>#}

	Bonjour à toi {{ name }} !
	<ul style="list-style: none;" >
		<li ><span class="glyphicon glyphicon-unchecked" ></span > TODO Articles plus vendus</li >
		<li ><span class="glyphicon glyphicon-unchecked" ></span > TODO Marque populaires</li >
		<li class="checkItem" ><span class="glyphicon glyphicon-check" ></span > <s >TODO Stock des articles</s ></li >
		<li class="checkItem" ><span class="glyphicon glyphicon-check" ></span >
			<s >TODO Prix Moment CMD dans Ligne commande</s ></li >
		<li class="checkItem" ><span class="glyphicon glyphicon-check" ></span > <s >TODO Détails commandes clients</s >
		</li >
		<li class="checkItem" ><span class="glyphicon glyphicon-check" ></span > <s >TODO Design back-office</s ></li >
		<li ><span class="glyphicon glyphicon-unchecked" ></span > TODO Contraintes validité</li >
		<li ><span class="glyphicon glyphicon-unchecked" ></span > TODO Ajout perso articles</li >
		<li ><span class="glyphicon glyphicon-unchecked" ></span > TODO Images produits</li >
		<li class="checkItem" ><span class="glyphicon glyphicon-check" ></span > <s >TODO Form connexion</s ></li >
		<li ><span class="glyphicon glyphicon-unchecked" ></span > TODO Message utilisateur feedback</li >
		<li class="checkItem" ><span class="glyphicon glyphicon-check" ></span > <s >TODO Custum alert design</s ></li >
		<li ><span class="glyphicon glyphicon-unchecked" ></span > TODO Color custum alert</li >
	</ul >
{% endblock %}
