{#
	Fichier : Default/index.html.twing
	Auteur : Emmanuel SMITH
	Creation : 09/02/2016
	Modification :
		> 09/02/2016		Mise en place de l'index
		> 12/02/2016		Ajout template + catalogue statique

	Page d'accueil de l'app web e-commerce
#}

{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Library</a></li>
			<li class="active">Data</li>
		</ol>
		<div class="col-md-3">
			<p class="lead">Shop Name</p>
			<div class="list-group">
				<a href="#" class="list-group-item">Category 1</a>
				<a href="#" class="list-group-item">Category 2</a>
				<a href="#" class="list-group-item">Category 3</a>
			</div>
		</div>

		<div class="col-md-9">
			<div class="row">				
				{% for item in produits %}
					<div class="col-sm-4 col-lg-6 col-md-6">
						<div class="thumbnail">
							<img src="http://placehold.it/420x200" alt="">
							<div class="caption">
								<h4 class="pull-right">{{ item.price }}€</h4>
								<h4><a href="#">{{ item.name }}</a>
								</h4>
								<p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
							</div>
							<div class="ratings">
								<p class="pull-right">15 reviews</p>
								<p>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>			
{% endblock %}	