{#

	  Fichier : /Default/mentions.html.twig
	  Auteur: SMITH Emmanuel
	  Création: 09/02/2016
	  Modification: 01/04/16

	  Vue page Mentions

#}

{% set namePage = "Mentios légales" %}
{% set typePage = namePage %}
{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block linkFollowing %}
	<li class="active">Mentions</li>
{% endblock %}

{% block content %}
	Mentions légales
{% endblock %}
