<!DOCTYPE html>
<html>
	<head>
		<title>Mentions</title>
		<link href="{{ asset('bundles/s4smithevitrine/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
	</head>
	<body class="container">

		<p class="col-xs-12">
			Ceci sont les mentions legales
		</p>

	</body>
</html>