{#

	  Fichier : /Category/listeCategorie.html.twig
	  Auteur: SMITH Emmanuel
	  Création: 08/03/2016
	  Modification: 01/04/16

	  Liste l'ensemble des catégories disponoble et dans la BDD

#}

{% for cat in categories %}
	<a href="{{ path('s4smithe_vitrine_articlesParCategorie', {catId: cat.id}) }}" class="list-group-item">{{ cat.name }}</a>
{% endfor %}
